<style>
body{
background-image: url('https://64.media.tumblr.com/00ae735bad49180027bcea16c1051d85/tumblr_py870tIpE71uzwgsuo1_400.gifv');
}
.div{
border: 10px outset olive;
background-color: chartreuse;
text-align: left;
}
</style>
/* Indented css: /*
font-family:Courier new; color: Maroon
font-family:Courier New; color: Maroon;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_ywR7Km44ew_6ICcGpBk8paLzskuoIi94rA&usqp=CAU');color:LawnGreen
